 




<md-content>
    <md-card>
        <md-card-content>
            <h1>Hello {{vm.user.name}} </h1>
        </md-card-content>
        <md-card-content>
            This is your customer information

            <h4>email</h4>
            <div>
                 {{vm.userService.stripeCustomerInfo.email}}
            </div>
          
            <h4>cards</h4>
            <ul>
                <li ng-repeat="source in vm.userService.stripeCustomerInfo.sources.data">
                    #### #### #### {{source.card.last4}}
                </li>
            </ul>
           

            <h4>Subscriptions</h4>
            <ul>
                <li ng-repeat="subscription in vm.userService.stripeCustomerInfo.subscriptions.data">
                    Charity : Store the charity name in our database 
                    <br>
                    Plan {{subscription.plan.amount / 100 | currency}} per {{subscription.plan.interval}}
                    <br>
                    Start Date: {{ subscription.start * 1000 | date}}
                </li>
            </ul>

            <h4>Invoices</h4>
            <ul>
                <li ng-repeat="invoice in vm.userService.user.stripeCustomerInfo.allInvoices">
                    Organization's Stripe ID: {{invoice.lines.data[0].plan.product}}
                    <br>
                    Amount Paid: {{invoice.amount_paid / 100 | currency}}
                    <br>
                    Billing: {{invoice.billing}}
                    <br>
                    Date: {{invoice.date * 1000 | date}}
                    <br>
                    Description: {{invoice.lines.data[0].description}}
                    <br>
                    Period: {{invoice.lines.data[0].period.start * 1000 | date}} to {{invoice.lines.data[0].period.end * 1000 | date}}
                </li>
            </ul>

            <h4>One Time Donations</h4>
            <div ng-repeat="org in vm.userService.user.stripeCustomerInfo.chargesByOrg">
                Organization's Strip ID: {{org.uniqueId}}
                <ul>
                    <li ng-repeat="charge in org.charges">
                       Amount: {{charge.amount / 100 | currency}}
                       <br>
                       Date: {{charge.created * 1000 | date}}
                    </li>
                </ul>
            </div>
           
    
        </md-card-content>
       

    </md-card>
</md-content>

