<!-- Display a list of non-profits to which
    a user can subscribe. Give them $5, $10, $20 options -->

<div class="form" ng-repeat="charity in vm.charities.list">
    <h1> {{charity.name}} </h1>
    <h2>Give on a monthly basis</h2>

    <p>Give $5 per month <button ng-click="vm.subscribeToThisPlan(charity, charity.plan_id_five)">Subscribe</button> </p>
    <p>Give $10 per month <button ng-click="vm.subscribeToThisPlan(charity, charity.plan_id_ten)">Subscribe</button> </p>
    <p>Give $20 per month <button ng-click="vm.subscribeToThisPlan(charity, charity.plan_id_twenty)">Subscribe</button> </p>

    <h2>Make a one time donation</h2>
    <div layout="row" flex>
        <md-input-container class="md-icon-float md-block title" flex="25">
            <input ng-model="vm.oneTimeDonation.amount" placeholder="Amount ($)">
        </md-input-container>
        <div>
            <md-button class="md-raised md-warn" ng-click="vm.oneTimeDonate(charity.product_id)">Donate</md-button>
        </div>
    </div>
</div>

