<h1>Give On a Monthly basis</h1>

<!-- Display a list of non-profits to which
    a user can subscribe. Give them $5, $10, $20 options -->

    <div ng-repeat="charity in vm.charities.list">
        <h2> {{charity.name}} </h2>
        <p> {{charity.plan_id_five}} </p>
        <p>Give $5 per month <button ng-click="vm.subscribeToThisPlan(charity.plan_id_five)">Subscribe</button> </p>
        <p>Give $10 per month <button ng-click="vm.subscribeToThisPlan(charity.plan_id_ten)">Subscribe</button> </p>
        <p>Give $20 per month <button ng-click="vm.subscribeToThisPlan(charity.plan_id_twenty)">Subscribe</button> </p>
    </div>

<h1>Make a one time donation</h1>

<p> {{vm.hi}} </p>